.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: green;
}

.footer a img {
  padding: 0.5rem;
}
